form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #6C7A89;
  width: 100vw;
  height: 100vh;
}

div{
  margin: 5px;
  padding: 10px;
  width: 50%;
}

input{
  font-size: 15px;
  padding: 5px;
  outline-style: none;
  border-radius: 5px;
  border-style: none;
  background-color: skyblue;
  text-decoration: none;
  width: 98%;
}

label{
 font-size: 25px;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

button{
  font-size: 20px;
  width: 100%;
  cursor: pointer;
}

button:hover{
  opacity: 0.8;
  transition: ease-in 0.8s;
}